button {
  border: 1px solid lightgrey;
  background-color: white;
  padding: .5rem;

  &:hover {
    cursor: pointer;
    background-color: lightgrey;
  }

  &:active {
    background-color: grey;
  }
}
