section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: .5rem;
  padding: .5rem;
  border: 1px solid lightgrey;
}

:not(.current-month) {
  color: darkgrey;
}

.active {
  font-weight: bold;
}

span {
  text-align: center;
}
