section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 20rem;
  gap: .5rem;
  padding: .5rem;
  border: 1px solid lightgrey;
}

button {
  border: 1px solid lightgrey;
  background-color: white;
  padding: .5rem;

  &:hover {
    cursor: pointer;
    background-color: lightgrey;
  }

  &:active {
    background-color: grey;
  }
}
